<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-xhr-local-file" version="0.0.3">
  <name>XHR Local Files</name>
  <description>XHR polyfill to load file:// URLs</description>
  <license>Apache 2.0</license>
  <keywords>cordova,xhr,file,local,xmlhttprequest</keywords>
  <dependency id="cordova-plugin-file" />

  <js-module src="www/xhr-polyfill.js" name="xhr-polyfill">
    <runs/>
  </js-module>
  <asset src="www/xhr-polyfill.js.map" target="./plugins/cordova-plugin-xhr-local-file/www/xhr-polyfill.js.map"/>
</plugin>
